<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
    <main>
      <section>
        <div class="contenido-banner">
          <div class="caja-banner">
            <h1 id="titulo-banner">YAMAHA R1</h1>
            <p id="texto-banner">Estas listo para subirte a la pista?</p>
            <a id="btn-banner" href="/productDetail/15">Ver</a>
          </div>
          </div>
      </section>
      <h3 class="titulares">Destacados</h3>
      <section id="seccion-motos">
        <% productos.forEach((product)=>{%>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img id="img-detalle" src="/images/motos/modelos/<%= product.imagen %>" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card"><%= product.marca %></h4>
            <p class="precio"><%= product.precio %></p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p><%= product.modelo %></p>
            </li>
            <li class="li">
              <p><%= product.descripcion %></p>
            </li>
            <li class="li">
              <p><%= product.cilindrada %>cc</p>
            </li>
          </ul>
          <div class="caja-btn-detalle"> 
            <a href="/productDetail/<%= product.id %>"><button class="btn agregar">DETALLE</button></a>
            <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <%}) %>
        
      </section>
      <h3 class="titulares">Accesorios</h3>
      <section id="seccion-motos">
        
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>