<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-products">
        <section class="seccion-izq">
            <div class="contenido-izq">
                <div class="caja-izq">
                    <span class="span-products"><p>Categorias</p><i class="fas fa-sort-down"></i></span>
                </div>
                <div class="caja-izq">
                    <span class="span-products"><p>Filtros</p><i class="fas fa-sort-down"></i></span>
                </div>
            </div>
        </section>
        <section id="products-motos">
            <% list.forEach((product)=>{%>
              <div class="contenedor-producto">
                <div class="img-caja"><img id="img-detalle" src="/images/motos/modelos/<%= product.img %>" alt=""></div>
                <div class="caja-detalle">
                        <h2 id="titulo-detalle"><%= product.name %></h2>
                        <h4 id="subtitulo-detalle"><%= product.subtitle %></h4>
                        <p><%= product.description %>
                        </p>
                        <p class="colores-producto">Colores disponibles
                            <span class="color-detalle" id="negro"></span>
                            <span class="color-detalle" id="azul"></span>
                            <span class="color-detalle" id="rojo"></span>
                        </p>
                        <h5 class="precio-detalle"><%= product.cost %></h5>
                        <div class="caja-btn-detalle"> 
                            <button class="btn agregar">AGREGAR</button>
                            <button class="btn comprar" type="submit">COMPRAR</button>
                            </div>
                </div>
            </div>
            <%}) %>

          </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>